{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{% static 'assets/robot2.jpg'%}" alt="Robô futurista" class="logo">
    </header>

    <main>
        <h1>SAZP OAuth 2.0</h1>
        <div class="socialmedia">
            <div class="social-media-details">
                <a href="">
                    <img src="{% static 'assets/github.svg'%}" alt="Ícone para autenticação do github" class="social-media-icon">
                    <p>GitHub</p>
                </a>
            </div>
        </div>
    </main>
    
</body>
</html>