{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    <title>Tech | Membros </title>
</head>
<body>
    <header>
        <img src="{% static 'assets/membros.jpg'%}" alt="Robô futurista" class="logo">
    </header>

    <main>
        <h1> SAZP OAuth 2.0 </h1>
        <p> Aréa restrita para membros autorizados </p>

        <div class="logout-btn-container">
            <a href="http://localhost:8000/accounts/logout" class="logout-btn">Logout</a>
        </div>
    </main>
    
</body>
</html>